[Unit]
Description=Run spdynu 5 Minutes after boot and after then every 10 Minutes

[Timer]
OnBootSec=5min
OnUnitActiveSec=10min 
Unit=spdynu.service

[Install]
WantedBy=timers.target
