Source: spdynu
Section: other
Priority: optional
Maintainer: Steven Seifried <gitlab@canox.net>
Build-Depends: debhelper (>=10)
Standards-Version: 4.1.3
Homepage: https://gitlab.com/CANOXNET/spdynu

Package: spdyn
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Updater for spdyn.de

