Source: spdynu
Section: other
Priority: optional
Maintainer: Steven Seifried <gitlab@canox.net>
Build-Depends: debhelper (>=10)
Standards-Version: 4.1.3
Homepage: https://github.com/StevenSeifried/spdynu

Package: spdynu
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: DynDNS Updater for spdyn.de
